@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}

p.console {
    font-family: 'Roboto Mono', monospace;
}

header.terminal {
    background: #30353A;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal-container header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.green {
    background-color: #3BB662 !important;
}

.red {
    background-color: #E75448 !important;
}

.yellow {
    background-color: #E5C30F !important;
}

.terminal-container {
    text-align: left;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 14px;
    position: relative;
}


.terminal-home {
    background-color: black;
    padding: 1.5em 1em 1em 2em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #FAFAFA;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode:hover {
    background-color: black;
    color: white;
}

.dark-mode:focus {
    background-color: black;
    color: white;
}